.bg_azul {
    background: linear-gradient(#18acfe, #0166e1);
}

.fas {
    font-size: 35px;
    padding-left: 80px;
}

.tanho-logo {
    height: 80px;
    width: 100px;
}


.nav-text {
    padding-left: 80px;
}

.tamanho-fonte {
    font-size: 30px;
}

.fa-home {
    font-size: 20px;
    padding-left: 0px;
}

.fa-chevron-right {
    font-size: 20px;
    padding-left: 10px;
}

.fa-star {
    font-size: 15px;
    padding-left: 10px;
    color: yellow;
}

.fa-star-half-alt{
    font-size: 15px;
    padding-left: 10px;
    color: yellow;
}

.fa-truck {
    font-size: 25px;
    padding-left: 15px;
}